# Arduino build files
*.elf
*.hex
*.bin

# Arduino temporary files
*.tmp

# Arduino IDE build folder
/build
/build-*

# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode (si jamais)
.vscode/

# Logs
*.log
